**Question No.1**

Create a function that takes three parameters where:

 x is the start of the range (inclusive).

 y is the end of the range (inclusive).

 n is the divisor to be checked against.

Return an ordered list with numbers in the range that are divisible by the third parameter n.

Return an empty list if there are no numbers that are divisible by n.

Examples

* list_operation(1, 10, 3) ➞ [3, 6, 9]

* list_operation(7, 9, 2) ➞ [8]

* list_operation(15, 20, 7) ➞ []

In [1]:
def list_operation(x,y,n) :
    n = [ i for i in range(x,y) if i%n == 0 ]
    return n

In [2]:
list_operation(1, 10, 3)

[3, 6, 9]

In [3]:
list_operation(7, 9, 2)

[8]

In [4]:
list_operation(15, 20, 7)

[]



---

**Question No.2**

Create a function that takes in two lists and returns True if the second list follows the first list

by one element, and False otherwise. In other words, determine if the second list is the first

list shifted to the right by 1.

Examples

simon_says([1, 2], [5, 1]) ➞ True

simon_says([1, 2], [5, 5]) ➞ False

simon_says([1, 2, 3, 4, 5], [0, 1, 2, 3, 4]) ➞ True

simon_says([1, 2, 3, 4, 5], [5, 5, 1, 2, 3]) ➞ False

Notes
 Both input lists will be of the same length, and will have a minimum length of 2.

 The values of the 0-indexed element in the second list and the n-1th indexed element
in the first list do not matter.

In [5]:
def simon_says(first_list, second_list):
    if second_list[1:] == first_list[:-1]:
        return True
    else:
        return False

In [6]:
simon_says([1, 2, 3, 4, 5], [0, 1, 2, 3, 4])

True

In [7]:
simon_says([1, 2, 3, 4, 5], [5, 5, 1, 2, 3])

False



---

**Question No.3**

A group of friends have decided to start a secret society. The name will be the first letter of
each of their names, sorted in alphabetical order.

Create a function that takes in a list of names and returns the name of the secret society.

Examples

* society_name([&quot;Adam&quot;, &quot;Sarah&quot;, &quot;Malcolm&quot;]) ➞ &quot;AMS&quot;

* society_name([&quot;Harry&quot;, &quot;Newt&quot;, &quot;Luna&quot;, &quot;Cho&quot;]) ➞ &quot;CHLN&quot;

* society_name([&quot;Phoebe&quot;, &quot;Chandler&quot;, &quot;Rachel&quot;, &quot;Ross&quot;, &quot;Monica&quot;, &quot;Joey&quot;])

In [13]:
def society_name(l) :
    name = ""
    l.sort()
    for i in l :
        name = name + i[0]
    return name

In [14]:
society_name(["Harry", "Newt", "Luna", "Cho"])

'CHLN'

In [16]:
society_name(["Adam", "Sarah", "Malcolm"])

'AMS'

In [17]:
society_name(["Phoebe", "Chandler", "Rachel", "Ross", "Monica", "Joey"])

'CJMPRR'



---

**Question No.4**

An isogram is a word that has no duplicate letters. Create a function that takes a string and

returns either True or False depending on whether or not it&#39;s an &quot;
isogram&quot;.

Examples

* is_isogram(&quot;Algorism&quot;) ➞ True

* is_isogram(&quot;PasSword&quot;) ➞ False

**Not case sensitive.**

* is_isogram(&quot;Consecutive&quot;) ➞ False

Notes
 Ignore letter case (should not be case sensitive).

 All test cases contain valid one word strings.**

In [18]:
def is_isogram(word) :
    n = word.lower()
    m = set(n)
    if len(word) == len(m) :
        return True 
    else :
        return False

In [19]:
is_isogram("mahendra")

False

In [20]:
is_isogram("ineuron")

False

In [21]:
is_isogram("Krish")

True

In [22]:
is_isogram("PasSword")

False

In [24]:
is_isogram("Algorism")

True



---

**Question No.5**

Create a function that takes a string and returns True or False, depending on whether the
characters are in order or not.

Examples

* is_in_order(&quot;abc&quot;) ➞ True

* is_in_order(&quot;edabit&quot;) ➞ False

* is_in_order(&quot;123&quot;) ➞ True

* is_in_order(&quot;xyzz&quot;) ➞ True

Notes
You don&#39;t have to handle empty strings.

In [25]:
def is_in_order(n) :
    l = []
    m = sorted(n)
    for i in n :
        l.append(i)
    if l == m :
        return True 
    else :
        return False

In [26]:
is_in_order("abc")

True

In [27]:
is_in_order("edabit")

False

In [28]:
is_in_order("123")

True

In [29]:
is_in_order("xyzz")

True



---